body{
    background-color: #B9AFFA;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #fff;
}

a:hover {
    color: #B9AFFA;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    color: #fff;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
}

h3 {
    font-family: 'Ubuntu', cursive;
    font-size: 1.5rem;
    color: #fff;
}

p {
    font-size: 1.2rem;   
}

hr {
    border-style: none;
    border-top: 6px dotted gray;
    width: 3%;
}


/* Navigation Bar */

  
   .navbar {
      padding-bottom: 1rem;
      padding-left: 0;
  }
  
  .navbar-brand {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      font-size: 1.5rem;
  }
  
  .nav-item {
      padding: 0 18px;
  }
  
  .nav-link {
      font-size: 1.2rem;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 400;
  }

/* Banner */

#banner {
    padding-top: 20px;
}

.intro {
    font-size: 3rem;
    padding-bottom: 30px;
}

.parentDiv {
    background-image: url(purpleclouds.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.typing-gif {
    width: 25%;
}

/* About */

#about {
    background-color: #E3DFFD;
    color: grey;
    padding: 40px 0 40px;
}

#about h2 {
    color: #000;
}

.profile-image {
    width: 30%;
    padding-bottom: 40px;
}

.profile-text {
    text-align: left;
}

/* Skills */

 #skills {
    text-align: center;
 }

  .list-inline {
    list-style: none;
  }
  
  .list-icons {
    font-size: 2.5rem;
  }
  
  #skill-bars {
    width: 50%;
  }
  
  .progress-bar,
  #skills.btn {
    background-image: linear-gradient(
      to right,
      #EFE8EB,
      #DED1D6,
      #CEBAC2,
      #BDA2AD,
      #AD8B99
    );
  }
  
  .fa-user-tag,
  .blue,
  .list-inline-item i:hover {
    color: #fff;
    transition: all 0.2s ease-in-out;
  }

/* Portfolio */

/* Experience */

/* Services */

/* Shop */

/* Contact */

#contact-me {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 2;
}

.bottom-copyright {
    margin: 0;
}

.btn {
    -webkit-border-radius: 14;
    -moz-border-radius: 14;
    border-radius: 14px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: A#B9AFFA;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #E3DFFD;
    text-decoration: none;
  }

/* Footer */

#footer {
    background-color: #B9AFFA;
    line-height: 2;
}

.bottom-contact {
    margin-bottom: 0;
  }